* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    gap: 24px;
}

.content {
    flex: 1; 
    flex-basis: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    align-items: flex-start;
}

.content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #E5E7EB;
}

.content p {
    font-size: 18px;
    color: #E5E7EB
}

.button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    border: 0;
    border-radius: 5px;
}

.imgplaceholder {
    flex: 1; 
    flex-basis: 500px;
    max-width: 500px;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 300px;
}

 .info {
    padding: 32px 64px 64px 64px;
    text-align: center;
}

.title {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center; 
    gap: 44px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 125px;
}

.square {
    border: 2px solid #3882F6;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.card-text {
    margin-top: 10px;
    text-align: center;
    color: #1F2937;
    font-size: 14px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 128px;
}

.quote-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 16px;
    text-align: left;
    max-width: 500px;
    width: 100%;
    align-self: flex-start;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    max-width: 500px;
    width: 100%;
}

.CTA {
    padding: 128px;
}

.CTA-container {
    background-color: #3882F6;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 56px 128px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: #F9FAF8
}

.cta-text h5 {
    font-size: 18px;
    font-weight: bold;
}

.cta-text p {
    color: #E5E7EB;
}

.button2 button {
    padding: 8px 24px;
    border: white solid 2px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold
}